<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webhomework.mapper.TeacherMapper">
    <resultMap id="teacherDTOResultMap" type="com.example.webhomework.dto.TeacherDTO">
        <id column="id" property="id" />
        <result column="name" property="name"/>
        <result column="profession" property="profession" />
        <collection property="courses"
                    columnPrefix="c_"
                    javaType="ArrayList"
                    ofType="com.example.webhomework.entity.Course"
                    autoMapping="true">
        </collection>
    </resultMap>

    <select id="getTea" resultMap="teacherDTOResultMap">
        select t.*,
               c.id c_id,
               c.tid c_tid,
               c.name c_name,
               c.class_hour c_class_hour,
               c.student_number c_student_number
        from teacher t join course c on t.id=c.tid
        where t.id=#{tid}
    </select>
</mapper>